

<div class="card bg-transparent">
  <div class="card-block">
    <div class="icon">
      <img src="{{ "/assets/625372.svg" | prepend:site.baseurl }}" alt="Jigsaw for Distributors">
    </div>
    <h3 class="card-title">Jigsaw for Distributors</h3>
    <ul class="list-links">
      <li>
        <a href='{{ "/distributors/price-optimization/" | prepend:site.baseurl }}'>
          Price Optimization
        </a>
      </li>
      <li>
        <a href='{{ "/distributors/spa-analytics/" | prepend:site.baseurl }}'>
          SPA Analytics
        </a>
      </li>
      <li>
        <a href='{{ "/distributors/customer-engagement/" | prepend:site.baseurl }}'>
          Customer Engagement
        </a>
      </li>
      <li>
        <a href='{{ "/distributors/inventory/" | prepend:site.baseurl }}'>
          Inventory
        </a>
      </li>
    </ul>
  </div>
</div>
