

<div>
  <h3>Jigsaw for Distributors</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Mauris sagittis pellentesque lacus eleifend lacinia...
  </p>
  <ul>
    <li>
      <a href='{{ "/distributor-price-margin/" | prepend:site.baseurl }}'>Price matrix management</a>
    </li>
    <li>
      <a href='{{ "/distributor-spa-analytics/" | prepend:site.baseurl }}'>SPA ultilization</a>
    </li>
    <li>
      <a href='{{ "/distributor-inventory/" | prepend:site.baseurl }}'>Customer engagement</a>
    </li>
  </ul>
</div>
