

<div>
  <h3>Jigsaw For Manufacturers</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Mauris sagittis pellentesque lacus eleifend lacinia...
  </p>
  <ul>
    <li>
      <a href='{{ "/manufacturer-spa/" | prepend: site.baseurl }}'>
        SPA Management
      </a>
    </li>
    <li>
      <a href='{{ "/manufacturer-pos/" | prepend: site.baseurl }}'>
        Point of Sale
      </a>
    </li>
    <li>
      <a href='{{ "/manufacturer-inventory/" | prepend: site.baseurl }}'>
        Vendor Managed Inventory
      </a>
    </li>
  </ul>
</div>
