

<div class="card bg-transparent">
  <div class="card-block">
    <div class="icon">
      <img src="{{ "/assets/633334.svg" | prepend:site.baseurl }}" alt="Jigsaw For Manufacturers" />
    </div>
    <h3 class="card-title">Jigsaw For Manufacturers</h3>
    <ul class="list-links">
      <li>
        <a href='{{ "/manufacturers/spa/" | prepend: site.baseurl }}'>
          SPA Management
        </a>
      </li>
      <li>
        <a href='{{ "/manufacturers/pos/" | prepend: site.baseurl }}'>
          Point of Sale
        </a>
      </li>
      <li>
        <a href='{{ "/manufacturers/inventory/" | prepend: site.baseurl }}'>
          Inventory Management
        </a>
      </li>
      <li>
        <a href='{{ "/manufacturers/promotions-incentives/" | prepend: site.baseurl }}'>
          Promotions and Incentives
        </a>
      </li>
    </ul>
  </div>
</div>
