

<div class="demo-card-wide mdl-card mdl-card-1">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Jigsaw for Distributors</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    Mauris sagittis pellentesque lacus eleifend lacinia...
  </div>
  <div class="mdl-card__actions">
    <ul class="demo-list-item mdl-list">
      <li class="mdl-list__item">
        <a href="/distributor-price-margin/" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Price matrix management</a>
      </li>
      <li class="mdl-list__item">
        <a href="/distributor-spa-analytics/" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">SPA ultilization</a>
      </li>
      <li class="mdl-list__item">
        <a href="/distributor-inventory/" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Customer engagement</a>
      </li>
    </ul>
  </div>
</div>
