

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Jigsaw is focused on working with the Electrical Industry based on our insider perspective and experience. We are the only software provider to come from inside the industry that is focused on improving the issues of SPA contract management, Inventory Optimization and Price Strategy. Connecting Data, Building Solutions.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% if page.title != null %}{{ page.title }} - {% endif %}Jigsaw Systems</title>

<!-- Disable tap highlight on IE -->
<meta name="msapplication-tap-highlight" content="no">

<!-- Web Application Manifest -->
<link rel="manifest" href="manifest.json">

<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<meta name="application-name" content="Web Starter Kit">
<link rel="icon" sizes="192x192" href="{{ '/assets/touch/chrome-touch-icon-192x192.png' | prepend:site.baseurl }}">

<!-- Add to homescreen for Safari on iOS -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Web Starter Kit">
<link rel="apple-touch-icon" href="{{ 'images/touch/apple-touch-icon.png' | prepend:site.baseurl }}">

<!-- Tile icon for Win8 (144x144 + tile color) -->
<meta name="msapplication-TileImage" content="{{ '/assets/touch/ms-touch-icon-144x144-precomposed.png' | prepend:site.baseurl }}">
<meta name="msapplication-TileColor" content="#2F3BA2">

<!-- Color the status bar on mobile devices -->
<meta name="theme-color" content="#2F3BA2">

<!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
<!--
<link rel="canonical" href="http://www.jigsawsystemsinc.com/">
-->

<!-- Bootstrap CDN -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous"> -->

<!-- Material Design icons -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!-- Your styles -->
<link rel="stylesheet" href="{{ '/assets/base.css' | prepend:site.baseurl }}">
