

<header class="mdl-layout__header mdl-layout__header--scroll">
  <div class="mdl-layout__header-row">
    <a class="mdl-layout-title" href='{{ "/" | prepend: site.baseurl }}'>
      <img class="logo" src='{{ "/assets/jigsaw-logo.png" | prepend:site.baseurl }}' alt="Jigsaw">
    </a>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation">
      <a class="mdl-button" href='{{ "/" | prepend: site.baseurl }}'>HOME</a>
      <!-- <a class="mdl-button" href="/suppliers/">Suppliers</a> -->
      <button id="menu-suppliers" class="mdl-button mdl-js-button">Suppliers</button>
      <div class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="menu-suppliers">
        <a href='{{ "/manufacturer-spa/" | prepend: site.baseurl }}' class="mdl-menu__item">SPA Management</a>
        <a href='{{ "/manufacturer-pos/" | prepend: site.baseurl }}' class="mdl-menu__item">Point of Sale</a>
        <a href='{{ "/manufacturer-inventory/" | prepend: site.baseurl }}' class="mdl-menu__item">Vendor Managed Inventory</a>
      </div>
      <button id="menu-distributors" class="mdl-button mdl-js-button">Distributors</button>
      <div class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="menu-distributors">
        <a href='{{ "/distributor-price-margin/" | prepend: site.baseurl }}' class="mdl-menu__item">Price matrix management</a>
        <a href='{{ "/distributor-spa-analytics/" | prepend: site.baseurl }}' class="mdl-menu__item">SPA ultilization</a>
        <a href='{{ "/distributor-inventory/" | prepend: site.baseurl }}' class="mdl-menu__item">Customer engagement</a>
      </div>
      <a class="mdl-button" href='{{ "/about" | prepend: site.baseurl }}'>Who We Are</a>
      <a class="mdl-button" href='{{ "/contact-us" | prepend: site.baseurl }}'>Contact Us</a>
    </nav>
  </div>
</header>
