

<nav>
  <div class="nav-mobile">
    <a id="nav-toggle" href="#!"><span></span></a>
 </div>
 <ul class="nav-list">
  <li><a href='{{ "/" | prepend: site.baseurl }}'>Home</a></li>
  <li>
    <a id="menu-distributors">Distributors</a>
    <ul class="nav-dropdown">
      <li><a href='{{ "/distributor-price-margin/" | prepend: site.baseurl }}'>Price Matrix Management</a></li>
      <li><a href='{{ "/distributor-spa-analytics/" | prepend: site.baseurl }}'>SPA Utilization</a></li>
      <li><a href='{{ "/distributor-inventory/" | prepend: site.baseurl }}'>Customer Engagement</a></li>
    </ul>
  </li>
  <li>
    <a id="menu-suppliers">Manufacturers</a>
    <ul class="nav-dropdown">
      <li><a href='{{ "/manufacturer-spa/" | prepend: site.baseurl }}'>SPA Management</a></li>
      <li><a href='{{ "/manufacturer-pos/" | prepend: site.baseurl }}'>Point of Sale</a></li>
      <li><a href='{{ "/manufacturer-inventory/" | prepend: site.baseurl }}'>Vendor Managed Inventory</a></li>
    </ul>
  </li>
  <li><a href='{{ "/about" | prepend: site.baseurl }}'>Who We Are</a></li>
  <li><a href='{{ "/contact-us" | prepend: site.baseurl }}'>Contact Us</a></li>
</nav>
