---
---

// @import url('//fonts.googleapis.com/css?family=Roboto:100,300,400,900');
@import url('//fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('//fonts.googleapis.com/css?family=Francois+One');
// @import 'nav';
@import 'bootstrap/bootstrap';

// colors
$green: #8DC542;
$gray: #BBBDC0;
$lightgray: rgba($gray, .5);
$blue: #0F8ACB;
$orange: #F15B2B;
$text: #404040;


.color-blue {
  color: $blue;
}

.color-green {
  color: $green;
}

.color-orange {
  color: $orange;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  background: #EEE;
  color: $text;
}

body.home {
  background: url("/assets/header-4.jpg") 50% 50% fixed;
  background-size: cover;
  header {
    background: none;
    padding-bottom: 0;
    .container {
      background: none;
    }
    .intro {
      margin-top: 50px;
      font-size: 2rem;
      line-height: 1.6;
    }
  }
  main {
    // background: rgba(#FFF, .9);
    background: none;
  }
  footer .container {
    background: none;
  }
  &::after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(#FFF, .85);
    z-index: -1;
  }
  .outro {
    font-size: 1.2rem;
    line-height: 1.6;
  }
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-family: 'Francois One', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.3rem;
}

header {
  position: relative;
  padding: 10px 0 5px;
  background: url("{{ '/assets/header-2.jpg' | prepend:site.baseurl }}") 50% 100% no-repeat;
  background-size: cover;
  overflow: hidden;
  .logo img {
    max-width: 100%;
  }
  .container {
    // max-width: 1200px;
    // margin: 0 auto;
    background: rgba(#FFF, .9);
    padding: 50px;
    overflow: hidden;
  }
  .intro{
    font-weight: 300;
    font-size: 1.5rem;
    // max-width: 700px;
    line-height: 1.4;
    padding-left: 3rem;
    padding-right: 3rem;
  }
//   nav {
//     position: relative;
//     display: inline-block;
//     // margin-top: -50px;
//     float: right;
//     a {
//       color: $text;
//       font-weight: 400;
//       text-decoration: none;
//       margin: 0 20px 0 0;
//       display: inline-block;
//     }
//     div {
//       display: none;
//     }
//   }
}

.navbar-light .navbar-nav .nav-link {
  color: $text;
}

main {
  background: #FFF;
  // max-width: 1200px;
  // padding: 50px 50px 200px;
  // margin: 0 auto;
  // overflow: hidden;
  .card {
    border: 0;
    background: none;
    // width: 50%;
    // float: left;
    // display: inline-block;
    .icon {
      width: 120px;
      display: block;
      margin: 0 auto;
      border-radius: 50%;
      img {
        max-width: 100%;
      }
    }
  }
  .card-block {
    margin: 0 15px;
  }
  .card-title {
    font-family: 'Francois One', sans-serif;
    // font-weight: 100;
    font-size: 2.3rem;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
  }
  .list-links {
    margin: 30px 0 0;
    padding: 0;
    list-style: none;
    li {
      margin: 0;
      a {
        font-size: 1.3rem;
        display: block;
        padding: 15px 30px;
        // background: $text;
        border: 1px $text solid;
        color: $text;
        margin-bottom: 5px;
        border-radius: 4px;
        transition: all .1s linear;
        &:hover {
          background: $blue;
          color: #FFF;
          text-decoration: none;
        }
      }
    }
  }
}

.page {
  main.content {
    img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
}

footer {
  .container {
    background: #FFF;
    padding: 150px 0 50px;
  }
  a.btn-link {
    color: $text;
  }
  // max-width: 1200px;
  // margin: 0 auto;
  // padding: 50px;
  // text-align: center;
}
