---
---

// @import url('//fonts.googleapis.com/css?family=Roboto:100,300,400,900');
@import url('//fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('//fonts.googleapis.com/css?family=Francois+One');
// @import 'nav';
@import 'bootstrap/bootstrap';

// colors
$green: #8DC542;
$gray: #BBBDC0;
$lightgray: rgba($gray, .5);
$blue: #0F8ACB;
$orange: #F15B2B;
$text: #404040;
$bg: rgba(#FFF, .8);

.color-blue {
  color: $blue;
}

.color-green {
  color: $green;
}

.color-orange {
  color: $orange;
}

.bg-white {
  background: #FFF;
}

.bg-transparent {
  background-color: transparent;
}

body {
  background: url("/assets/bg-2.jpg") 50% 100% fixed #ced3d3;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  // background: #EEE;
  color: $text;
}

body.home {
  background: url("/assets/arrows.svg") 50% 0 fixed #F5F6F6;
  background-size: cover;
  header {
    background: none;
    padding-bottom: 0;
    .container {
      // background: none;
      // background: $bg;
    }
    .intro {
      margin-top: 50px;
      font-size: 2rem;
      line-height: 1.6;
    }
  }
  main {
    // background: $bg;
    background: none;
  }
  footer .container {
    background: none;
    // background: $bg;
  }
  // &::after {
  //   content: "";
  //   display: block;
  //   position: fixed;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   background: rgba(#FFF, .85);
  //   z-index: -1;
  // }
  .outro {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.6;
  }
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-family: 'Francois One', sans-serif;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.3rem;
}

header {
  position: relative;
  padding: 10px 0;
  max-width: 1440px;
  margin: 0 auto;
  background: $bg;
  .logo img {
    max-width: 100%;
  }
  .container {
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    width: auto !important;
    max-width: 960px !important;
  }
  .intro{
    font-weight: 300;
    font-size: 1.5rem;
    // max-width: 700px;
    line-height: 1.4;
    padding-left: 3rem;
    padding-right: 3rem;
  }
//   nav {
//     position: relative;
//     display: inline-block;
//     // margin-top: -50px;
//     float: right;
//     a {
//       color: $text;
//       font-weight: 400;
//       text-decoration: none;
//       margin: 0 20px 0 0;
//       display: inline-block;
//     }
//     div {
//       display: none;
//     }
//   }
}

@include media-breakpoint-down(md) {
  .navbar-light {
    position: fixed;
    top: 10px;
    right: 0;
    width: 100%;
    z-index: 1000;
    .navbar-nav {
      background: #FFF;
      position: absolute;
      top: 60px;
      right: 15px;
      width: 300px;
      max-width: 88%;
      border-radius: 4px;
      padding-right: 20px;
    }
  }
}

.navbar-light {
  .navbar-nav {
    .nav-item {
      margin-left: 1.4rem;
    }
    .nav-link {
      color: $text;
    }
  }
}

main {
  background: $bg;
  padding-top: 50px;
  padding-bottom: 50px;
  width: auto !important;
  max-width: 1440px !important;
  // margin: 0 auto;
  // overflow: hidden;
  .content {
    max-width: 960px !important;
    margin: 0 auto;
    img {
      max-width: 100%;
    }
  }
  .card {
    border: 0;
    // background: none;
    // background: $bg;
    // width: 50%;
    // float: left;
    // display: inline-block;
    .icon {
      width: 120px;
      display: block;
      margin: 0 auto;
      border-radius: 50%;
      img {
        max-width: 100%;
      }
    }
  }
  .card-block {
    margin: 0 15px;
  }
  .card-title {
    font-family: 'Francois One', sans-serif;
    // font-weight: 100;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
  }
  .list-links {
    margin: 30px 0 0;
    padding: 0;
    list-style: none;
    li {
      margin: 0;
      a {
        font-size: 1.3rem;
        display: block;
        padding: 15px 30px;
        // background: $text;
        // background: $bg;
        border: 1px $text solid;
        color: $text;
        margin-bottom: 5px;
        border-radius: 4px;
        transition: all .1s linear;
        &:hover {
          background: $blue;
          color: #FFF;
          text-decoration: none;
        }
      }
    }
  }
}

.page {
  main.content {
    img {
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
}

footer {
  padding-bottom: 10px;
  .container {
    background: $bg;
    padding: 150px 0 100px;
    width: auto !important;
    max-width: 1440px !important;
  }
  a.btn-link {
    color: $text;
  }
  // max-width: 1200px;
  // margin: 0 auto;
  // padding: 50px;
  // text-align: center;
}
