---
---

@import url('//fonts.googleapis.com/css?family=Roboto:100,300,400,900');
// @import 'nav';
@import 'bootstrap/bootstrap';

// colors
$green: #8DC542;
$gray: #BBBDC0;
$lightgray: rgba($gray, .5);
$blue: #0F8ACB;
$orange: #F15B2B;
$text: #404040;


.color-blue {
  color: $blue;
}

.color-green {
  color: $green;
}

.color-orange {
  color: $orange;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  background: #EEE;
  color: $text;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.3rem;
}

header {
  padding: 10px 0 5px;
  background: url("{{ '/assets/header-1.jpg' | prepend:site.baseurl }}") 50% 100% no-repeat;
  background-size: cover;
  overflow: hidden;
  .logo img {
    max-width: 100%;
  }
  > div {
    max-width: 1200px;
    margin: 0 auto;
    background: rgba(#FFF, .9);
    padding: 50px;
    overflow: hidden;
  }
  .intro{
    font-weight: 300;
    font-size: 1.5rem;
    max-width: 700px;
    line-height: 1.4;
  }
//   nav {
//     position: relative;
//     display: inline-block;
//     // margin-top: -50px;
//     float: right;
//     a {
//       color: $text;
//       font-weight: 400;
//       text-decoration: none;
//       margin: 0 20px 0 0;
//       display: inline-block;
//     }
//     div {
//       display: none;
//     }
//   }
}

main {
  background: #FFF;
  // max-width: 1200px;
  // padding: 50px 50px 200px;
  // margin: 0 auto;
  // overflow: hidden;
  .card {
    border: 0;
    // width: 50%;
    // float: left;
    // display: inline-block;
    .icon {
      width: 160px;
      display: block;
      margin: 0 auto;
      border-radius: 50%;
      img {
        max-width: 100%;
      }
    }
  }
  .card-block {
    margin: 0 15px;
  }
  .card-title {
    font-size: 2.3rem;
    font-weight: 100;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
  }
  .list-links {
    margin: 30px 0 0;
    padding: 0;
    list-style: none;
    li {
      margin: 0;
      a {
        display: block;
        padding: 10px 30px;
        background: $lightgray;
        color: $text;
        margin-bottom: 2px;
        border-radius: 4px;
        transition: all .1s linear;
        &:hover {
          background: $blue;
          color: #FFF;
          text-decoration: none;
        }
      }
    }
  }
}

.page {
  main.content {
    img {
      max-width: 100%;
      display: block;
      margin: 50px auto;
    }
  }
}

footer {
  .container {
    background: #FFF;
    padding: 150px 0 50px;
  }
  // max-width: 1200px;
  // margin: 0 auto;
  // padding: 50px;
  // text-align: center;
}
