<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body class="home">
    <header>
      <div class="container text-center">
        <a class="logo" href='{{ "/" | prepend: site.baseurl }}'>
          <img src='{{ "/assets/jigsaw-logo-2.png" | prepend:site.baseurl }}' alt="Jigsaw Systems Inc">
        </a>
        <div class="intro">
          {% assign intro = site.partials | where:"title", "home-intro"  | first %}
          {{ intro.content }}
        </div>
      </div>
    </header>
    <main class="container">
      <div class="content">
        <div class="row">
          <div class="col-md-6">
            {% include card1.html %}
          </div>
          <div class="col-md-6">
            {% include card2.html %}
          </div>
        </div>
        <div class="outro text-center pt-3">
          {% assign main = site.partials | where:"title", "home-main"  | first %}
          {{ main.content }}
        </div>
      </div>
    </main>
    {% include footer.html %}
    {% include analytics.html %}
  </body>
</html>
