<!doctype html>
<html lang="">
  <head>
    {% include head.html %}
  </head>
  <body class="mdl-demo mdl-base">
    <div class="mdl-layout mdl-js-layout">
      {% include header.html %}
      <main class="mdl-layout__content">
        {% include card1.html %}
        {% include card2.html %}
        {% include card3.html %}
      </main>
      {% include footer.html %}
    </div>
    <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <!-- build:js scripts/main.min.js -->
    <script src="/assets/main.js"></script>
    <!-- endbuild -->
    {% include analytics.html %}
  </body>
</html>
