<!doctype html>
<html lang="">
  <head>
    {% include head.html %}
  </head>
  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout">
      {% include header.html %}
      <main class="mdl-layout__content">
        <section class="section--center">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
              <div class="demo-card-wide mdl-card">
                <div class="mdl-card__supporting-text">
                  {{ content }}
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      {% include footer.html %}
    </div>
    <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
    <!-- build:js scripts/main.min.js -->
    <script src="/assets/main.js"></script>
    <!-- endbuild -->
    {% include analytics.html %}
  </body>
</html>
